{{> Header }}

<h1> {{ game.title }} </h1>
<h3> {{ game.developer }} </h3>
<h3> {{ game.releaseYear }} </h3>
<h5>
{{ game.description }} 
</h5>
<img src="{{game.cover}}" width="400">
<form action="/wishlist" method="POST">
  <input type="hidden" name="gameId" value="{{game.id}}">
  <button type="submit">Wishlist</button>
</form>
<button>Played</button>

{{#unless reviews}}
	<p>No reviews yet, be the first!</p>
{{else}}
<h3>Top 3 reviews: </h3>
	<div id="reviews" class="reviews-container">
		{{#each reviews}}
			<div class="review-container" review-id="{{ this.props.id }}">
        <img class="review-profile-pic" src="{{ this.props.userPfp }}">
        <img class="review-username" src="{{ this.props.username }}">
        <div class="review-text">
          <div>
          {{ this.props.text }}
          </div>
        </div>

        <!-- REVIEWS -->
        <div class="review-likes">
          <p>⭐️⭐️⭐️⭐️⭐️</p>
          <div class="review-likes">
            <img class="like-logo" src="../../images/icons/thumbs-up(2).svg">
            <p>{{this.props.likes}}</p>
          <form method="POST" action="/games/like/{{this.props.id}}" id="register-form">
	        <input type="submit" value="Like" id="register-form-submit-button">
          </form>
          </div>
        </div>

			</div>
		{{/each}}
	</div>
  <p>{{ star-average }} star average</p>
{{/unless}}

{{> Footer}}   