{{> Header }}
<h1 > {{ game.title }} </h1>
<h2>{{ averageStars }}⭐</h2>
<p>(Total stars: ⭐{{game.totalStars}})</p><br>
<div class="game-info">
  <div class="game-info-left">
    <img src="{{game.cover}}" width="400">
  </div>
  <div class="game-info-right">
    <div>
      <h3>Developer: </h3>
      <p>{{ game.developer }}</p>
      <h3>Year: </h3>
      <p>{{game.releaseYear}}</p>
      <h3>Description:</h3>
      <p>{{ game.description }} </p>
      <h3>Tags</h3>
      
    </div>
    <div>
      {{#each gametags}}
        <p class="tag">{{this}}</p>
      {{/each}}

      <form method="POST" action="/games/{{game.id}}">
      <div class="add-tag">
        <input type="hidden" name="gameId" value="{{game.id}}">
        <select name="tagId">
          {{#each tags}} 
            <option value="{{this.props.id}}">{{this.props.description}}</option>
          {{/each}}
        </select>
        <br><br>
        <button type="submit">Add tag</button>
      </div>
      </form>
    </div>
    <div class="game-list-buttons">
      <form action="/wishlist" method="POST">
        <input type="hidden" name="gameId" value="{{game.id}}">
        <button type="submit">Wishlist</button>
      </form>

      <form action="/played" method="POST">
        <input type="hidden" name="gameId" value="{{game.id}}">
        <button type="submit">Played</button>
      </form>

      <form action="/review" method="GET">
        <input type="hidden" name="gameId" value="{{game.id}}">
        <button type="submit">Leave a review</button>
      </form>
    </div>
  </div>
</div>



{{#unless reviews}}
	<br><p>No reviews yet, be the first!</p>
{{else}}
<br><h3>Top 3 reviews: </h3>
		{{#each reviews}}
	<div id="reviews" class="reviews-container">
			<div class="review-container" review-id="{{ this.props.id }}">
        <div class="review-profile-container">
          <img class="review-profile-pic" src="{{ this.props.userPfp }}">
          <h3 id="review-username"> {{ this.props.username }} </h3> 
        </div>
        <div class="review-title">
          <div id="review-title">
          {{ this.props.title }}
          </div>
        </div>
        <div class="review-text">
          <p id="review-text">
          {{ this.props.review }}
          </p>
        </div>

        <!-- REVIEWS -->
        <div class="review-likes">
          <p id="review-stars">{{this.props.stars}}⭐️</p>
          <div class="review-likes">
          <form method="POST" action="/games/like/{{this.props.id}}" id="register-form">
            <button type="submit" class="like-button">
              <img class="like-logo" src="../../images/icons/thumbs-up(2).svg">
            </button>
          </form>
            <p id="review-likes">{{this.props.likes}}</p>
          </div>
        </div>

			</div>
	</div>
		{{/each}}
{{/unless}}


{{> Footer}}   