{{> Header }}
<h1> {{ game.title }} </h1>
<h2>{{ averageStars }}⭐</h2>
<p>(Total stars: ⭐{{game.totalStars}})</p><br>
<img src="{{game.cover}}" width="400">
<div class="game-list-buttons">
  <form action="/wishlist" method="POST">
    <input type="hidden" name="gameId" value="{{game.id}}">
    <button type="submit">Wishlist</button>
  </form>

  <form action="/played" method="POST">
    <input type="hidden" name="gameId" value="{{game.id}}">
    <button type="submit">Played</button>
  </form>

  <form action="/review" method="GET">
    <input type="hidden" name="gameId" value="{{game.id}}">
    <button type="submit">Leave a review</button>
  </form>
</div>
  <h3>Developer: </h3>
  <p>{{ game.developer }}</p>
  <h3>Year: </h3>
  <p>{{game.releaseYear}}</p>
<h3>Description:</h3>
<p>{{ game.description }} </p>



{{#unless reviews}}
	<br><p>No reviews yet, be the first!</p>
{{else}}
<br><h3>Top 3 reviews: </h3>
		{{#each reviews}}
	<div id="reviews" class="reviews-container">
			<div class="review-container" review-id="{{ this.props.id }}">
        <div class="review-profile-container">
          <img class="review-profile-pic" src="{{ this.props.userPfp }}">
          <h3> {{ this.props.username }} </h3> 
        </div>
        <div class="review-title">
          <div>
          {{ this.props.title }}
          </div>
        </div>
        <div class="review-text">
          <p>
          {{ this.props.review }}
          </p>
        </div>

        <!-- REVIEWS -->
        <div class="review-likes">
          <p>⭐️⭐️⭐️⭐️⭐️</p>
          <div class="review-likes">
            <img class="like-logo" src="../../images/icons/thumbs-up(2).svg">
            <p>{{this.props.likes}}</p>
          <form method="POST" action="/games/like/{{this.props.id}}" id="register-form">
	        <input type="submit" value="Like" id="register-form-submit-button">
          </form>
          </div>
        </div>

			</div>
	</div>
		{{/each}}
{{/unless}}

{{> Footer}}   