{{> Header }}
<h1> {{ game.title }} </h1>
<h3> {{ game.developer }} </h3>
<h3> {{ game.releaseYear }} </h3>
<img src="{{game.cover}}" width="400">
{{#unless reviews}}
	<p>No reviews yet, be the first!</p>
{{else}}
<h3>Top 3 reviews: </h3>
	<div id="reviews" class="reviews-container">
		{{#each reviews}}
			<div class="review-container" review-id="{{ this.props.id }}">
        <img class="review-profile-pic" src="{{ this.props.userPfp }}">
        <div class="review-text">
          "{{ this.props.text }}"
        </div>
        <div class="review-likes">
          <p>⭐️⭐️⭐️⭐️⭐️</p>
          <div class="review-likes">
            <img src="../../images/icons/thumbs-up.svg">
            <p>{{this.props.likes}}</p>
          </div>
        </div>
			</div>
		{{/each}}
	</div>
  <p>{{ star-average }} star average</p>
{{/unless}}
{{> Footer}}   