<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../styles/style.css">
	<title>{{ title }}</title>
</head>

<body>
	<header>
		<nav>
			<ul>
				{{#if loggedIn}}
				<li><a href="{{ path 'home' }}">Home</a></li>
				<li><a href="{{ path 'logout' }}">Logout</a></li>
				{{else}}
				<li><a href="{{ path 'login' }}">Login</a></li>
				<li><a href="{{ path 'register' }}">Register</a></li>
				{{/if}}
			</ul>
		</nav>
	</header>
	<main>
