<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../styles/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<title>{{ title }}</title>
</head>

<body>
	<header>
		{{#if loggedIn}}
		<nav>
			<ul class="nav-links">
				<li><a href="{{ path 'home' }}">Home</a></li>
				<li><a href="{{ path 'games' }}">All Games</a></li>
				<li><a href="{{ path 'wishlist' }}">Wishlist</a></li>
				<!--My games goes to the user's played games-->
				<li><a href="{{ path 'played' }}">My Games</a></li>
				<li><a href="{{ path 'profile' }}">Profile</a></li>
			</ul>
		</nav>
		<div class="right-nav">
		<a href="{{ path 'logout' }}"><button>Logout</button></a>
		</div>
		{{ else }}
		<nav>
			<ul class="nav-links">
				<li><a href="{{ path 'home' }}">Home</a></li>
				<li><a href="{{ path 'games' }}">All Games</a></li>
			</ul>
		</nav>
		<div class="right-nav">
			<a href="{{ path 'login' }}"><button>Login</button></a>
			<a href="{{ path 'register' }}"><button>Register</button></a>
		</div>
		{{/if}}
	</header>
	<main>
