{{> Header }}

<h1>Welcome!</h1>

<div class="topGames">
	<div>
    <h3> Top rated Games:</h3>
    {{#unless top3popular}}
	<p>No games found</p>
    {{else}}
	<ol id="games">
		{{#each top3popular}}
			<li game-id="{{ this.props.id }}">
				<div class="gameInfo">
					<div>
						<a href="/games/{{ this.props.id }}">{{ this.props.title }}</a>
						<p> {{ this.props.developer }} </p>
						<p> {{ this.props.releaseYear }} </p>
					</div>
					<div>
						<img src="{{ this.props.cover }}" height="200" width="150">
					</div>
				</div>
			</li>
		{{/each}}
	</ol>
	{{/unless}}
	</div>
	<div>
	<h3> Most Recent Games: </h3>
	 {{#unless top3recent}}
	<p>No games found</p>
    {{else}}
	<ol id="games">
		{{#each top3recent}}
			<li game-id="{{ this.props.id }}">
					<div class="gameInfo">
					<div>
						<a href="/games/{{ this.props.id }}">{{ this.props.title }}</a>
						<p> {{ this.props.developer }} </p>
						<p> {{ this.props.releaseYear }} </p>
					</div>
					<div>
						<img src="{{ this.props.cover }}" height="200" width="150">
					</div>
				</div>
			</li>
		{{/each}}
	</ol>
	{{/unless}}
	</div>
</div>
{{> Footer }}
