{{> Header }}

<h1>All Games</h1>

{{#unless games}}
	<p>No games found</p>
{{else}}

	<ol id="games">
		{{#each games}}
			<li game-id="{{ this.id }}">
				<div class="gameInfo">
					<div>
						<a href="/games/{{ this.id }}" class="game-link-title">{{ this.title }}</a>
						<div class="ellipsis"><div>
							<p class="game-description"> {{this.description}} </p>
						</div></div>
						<p> {{ this.developer }} </p>
						<p> {{ this.releaseYear }} </p>
					</div>
					<div>
						<img src="{{ this.cover }}" height="200" width="150">
					</div>
				</div>
			</li>
		{{/each}}
	</ol>
{{/unless}}

{{> Footer}}
