{{> Header }}
{{#unless wishlist}}
<h2>No games on your wishlist :( </h2>
<a href="{{ path 'games' }}"><button>Add some games!</button></a>

{{else}}
<h2> Your wishlist: </h2>
    <div id="wishlist" class="ol-wishlist">
		{{#each wishlist}}
			<div wishlist-id="{{ this.props.id }}" class="game-list">
				<img src="{{this.cover}}" width="200">
				<div class="game-list-details">
					<a href="/games/{{ this.props.id }}" class="game-link-title">{{ this.title }}</a>
					<p> {{ this.description }}</p>
					<h3>{{this.developer}}</h3>
					<p>{{this.releaseYear}}</p>
					<div class="game-list-buttons">
						<form action="/played" method="POST">
  							<input type="hidden" name="gameId" value="{{game.id}}">
  							<button type="submit" class="remove-button">Remove from wishlist</button>
						</form>
						<form action="/played" method="POST">
  							<input type="hidden" name="gameId" value="{{game.id}}">
  							<button type="submit" class="add-button">I've Played This</button>
						</form>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
<a href="{{ path 'games' }}"><button>Add more games!</button></a>

{{/unless}}

{{> Footer}}