{{> Header }}
{{#unless wishlist}}
<h2>No games on your wishlist :( </h2>
<a href="{{ path 'games' }}"><button>Add some games!</button></a>

{{else}}
<h2> Your wishlist: </h2>
    <ol id="wishlist" class="ol-wishlist">
		{{#each wishlist}}
			<li wishlist-id="{{ this.props.id }}">
				<a href="/games/{{ this.props.id }}">{{ this.title }}</a>
                <img src="{{this.cover}}" width="200">
			</li>
		{{/each}}
	</ol>
<a href="{{ path 'games' }}"><button>Add more games!</button></a>

{{/unless}}

{{> Footer}}